<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ app_name }} - {{ title if title else "" }}</title>
  <link rel="stylesheet" href="/static/tabler/tabler.min.css">
  <link rel="stylesheet" href="/static/tabler/tabler-icons.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="theme-light">
  <div class="page">
    <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark d-print-none">
      <div class="container-fluid">
        <div class="navbar-brand navbar-brand-autodark">
          <a href="/">
            <div class="navbar-brand-title">RouterVault</div>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sidebar-menu">
          <ul class="navbar-nav pt-lg-3">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="nav-link-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/routers">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="ti ti-router"></i>
                </span>
                <span class="nav-link-title">Routers</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/backups">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="ti ti-archive"></i>
                </span>
                <span class="nav-link-title">Backups</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="ti ti-settings"></i>
                </span>
                <span class="nav-link-title">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <div class="page-wrapper">
      <div class="container-xl">
        {% if notice %}
        <div class="alert alert-success" role="alert">{{ notice }}</div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <script src="/static/tabler/tabler.min.js"></script>
</body>
</html>
